<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDiscovery>
            <!--<announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>-->
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="DiscoveryDemo.Service.MagicOracleService">
        <endpoint address=""
                  binding="netNamedPipeBinding"
                  contract="DiscoveryDemo.Contract.IMagicOracle" />
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>