<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfDemo.Service.PingService">
        <endpoint address="net.pipe://localhost/ping"
                  binding="netNamedPipeBinding"
                  contract="WcfDemo.Contracts.IService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>