<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding transactionFlow="true">
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="WcfDemo.Service.Tests.TurnIdentityIntoPrincipalAuthorizationPolicy, WcfDemo.Service.Tests"/>
            </authorizationPolicies>
          </serviceAuthorization>
          
          <serviceCredentials>
            <userNameAuthentication 
              customUserNamePasswordValidatorType="WcfDemo.Service.Tests.UserNamePasswordValidator, WcfDemo.Service.Tests"
              userNamePasswordValidationMode="Custom"/>
            <serviceCertificate x509FindType="FindBySubjectName" 
                                storeLocation="LocalMachine"
                                storeName="My"
                                findValue="localhost"/>
          </serviceCredentials>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfDemo.Service.PingService">
        <endpoint address="net.pipe://localhost/ping" binding="netNamedPipeBinding" contract="WcfDemo.Contracts.IService" />
        <endpoint address="net.tcp://localhost:6789" 
                  binding="netTcpBinding" 
                  contract="WcfDemo.Contracts.IService" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SchoolContext" connectionString="data source=(localdb)\MSSqlLocalDB;AttachDbFileName=|DataDirectory|\School.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>