<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="Service.svc" service="Discovery.Service.DiscoveryOracle" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpsBinding>
        <binding name="secure">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="discovery">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDiscovery />
          <serviceAuthorization principalPermissionMode="None" />
          <serviceCredentials>
            <userNameAuthentication
              customUserNamePasswordValidatorType="Discovery.Host.Security.Login, Discovery.Host.Security"
              userNamePasswordValidationMode="Custom"/>
            <serviceCertificate storeName="My"
                                storeLocation="LocalMachine"
                                x509FindType="FindBySubjectName"
                                findValue="localhost" />
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Discovery.Service.DiscoveryOracle" behaviorConfiguration="discovery">
        <endpoint address=""
                  binding="basicHttpsBinding"
                  bindingConfiguration="secure"
                  contract="Discovery.Contracts.IDiscoveryOracle" />

        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>