<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="Service.svc" service="Discovery.Service.DiscoveryOracle" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="discovery">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Discovery.Service.DiscoveryOracle" behaviorConfiguration="discovery">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Discovery.Contracts.IDiscoveryOracle" />

        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
  </system.serviceModel> 
</configuration>