<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint kind="dynamicEndpoint"
                      binding="basicHttpBinding"
                      contract="MagicOracleService.IMagicOracle" />
        </client>

      <standardEndpoints>
        <dynamicEndpoint>
          <standardEndpoint>
            <discoveryClientSettings>
              <findCriteria scopeMatchBy="http://schemas.microsoft.com/ws/2008/06/discovery/rfc"
                            duration="00:00:05"
                            maxResults="2" />
            </discoveryClientSettings>
          </standardEndpoint>
        </dynamicEndpoint>
      </standardEndpoints>
    </system.serviceModel>
</configuration>