<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ping-service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2350/PingService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ping-service" contract="PingService.pingservice"
                name="BasicHttpBinding_ping-service" />
        </client>
    </system.serviceModel>
</configuration>