<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <client>
      <endpoint address="net.pipe://hello/PingService.svc"
                binding="netNamedPipeBinding"
                contract="PingService.pingservice"
                       />
    </client>
  </system.serviceModel>
</configuration>