<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_INetflixService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://docenta/Netflix/Service.svc" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_INetflixService"
                contract="NetflixServiceReference.INetflixService" name="NetNamedPipeBinding_INetflixService">
                <identity>
                    <servicePrincipalName value="host/DOCENTA" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>